// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*-- scss:defaults --*/
// Default font families that can be used throughout the stylesheet
$font-family-base: 'Spectral', serif;
$font-family-svg: 'Ubuntu', sans-serif;
$font-family-code: 'Share Tech Mono', monospace;

/*-- scss:mixins --*/
// Mixins to apply font families
@mixin apply-base-font {
    font-family: $font-family-base;
}

@mixin apply-svg-font {
    font-family: $font-family-svg;
}

@mixin apply-code-font {
    font-family: $font-family-code;
}

/*-- scss:rules --*/
// Apply Spectral font to the main body
body {
    @include apply-base-font;
}

// Apply Ubuntu font to all SVGs
svg {
    @include apply-svg-font;
}

// Apply Share Tech Mono font to code blocks in Quarto documents
pre, code {
    @include apply-code-font;
}